bin/
dist/
coverage/
webapp/src/manifest.ts
server/manifest.go

# Dependencies
webapp/node_modules/

# Mac
.DS_Store

# Jetbrains
.idea/

# VS Code
.vscode/

# Claude
.claude/

# Desloppify
.desloppify/

# Dev
dev/

# Misc
AGENTS.md
*.png
